/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;

.my-text {
    @apply font-montserrat font-medium leading-normal not-italic;
}

@tailwind utilities;

.font-poppins {
    font-family: "Poppins";
    font-style: normal;
}

.font-pixelify {
    font-family: "Pixelify Sans";
    font-style: normal;
}

.font-montserrat {
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
}

/* scroll */
/* Custom grayscale scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
    height: 8px;
    /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    /* Light gray for the track */
    border-radius: 10px;
    /* Rounded corners on the track */
}

::-webkit-scrollbar-thumb {
    background-color: #888888;
    /* Medium gray for the thumb */
    border-radius: 10px;
    /* Rounded corners on the thumb */
    /* border: 2px solid #e0e0e0;  Light gray border to match the track */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
    /* Darker gray on hover */
}

html {
    scroll-behavior: smooth;
}

/* gradient */
.text-gradient {
    /* background: linear-gradient(90deg, rgba(43, 94, 144, 1) 0%, rgba(230, 20, 70, 1) 39%, rgba(43, 94, 144, 1) 99%, rgba(255, 129, 134, 1) 100%); */
    background: linear-gradient(180deg, #0866ff 0%, #13489c 39%, #4128b1 99%, #635db8 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.konceptlaw-logo-color {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#a87b2c, #4d350c);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}